<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server</title>
</head>
<body>
    <h1>This is server</h1>
    <h2> Users </h2>
    {% for user in db.execute('select * from users')%}
    
    <ul>
        <ls>
            {{user[2]+" "+ user[3]}}
        </ls>
    </ul>
    {%endfor %}
    <br>
    <h2> Groups </h2>
    {% for group in db.execute('select * from groups')%}
    <ul>
        <ls>
            {{group[1]}}
        </ls>
    </ul>
    {%endfor %}
</body>
</html>